body {
  background-color: #EDEFEE;
}

header{
  text-align: center;
  background-color: lightgray;
}
h3, h4, footer {
  text-align: center;
  font-family: 'Kalam', cursive;
}
#experience, #fav-color{
  width: 250px;
}
footer {
  margin-top: 50px;
  line-height: 8px;
}
.students:hover {
  cursor: pointer;
  text-decoration: underline;
}
.students {
  color: blue;
}

#accounts-info, #student-list, #student-info {
  display: none;
}
#fav-color {
  height: 40px;
}
#email{
  width: 300px;
}

#titlename {
  font-family: 'Coming Soon', cursive;
  font-size: 38px;
  font-weight: bold;
}

#navbar {
  background-color: #49A078;
  margin: 0px;
  padding-bottom: 0px;
}

h6 {
  font-family: 'Kalam', cursive;
  font-size: 20px;
}

#topbar {
  background-color: #49A078;
  text-align: left;
  padding: 2px;
}

#topbar h6 {
    padding-left: 15px;
}

.btn {
  border: 2px solid #216869;
  background-color: #9CC5A1;
}

.btn:hover {
  cursor: pointer;
  background-color: #EDEFEE;
}

#form-panel {
  background-color: #9CC5A1;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  border-radius: 25px;
}

#form-panel h6 {
  text-align: center;
}

#btn-center {
  text-align: center;
}

a {
  color: #216869;
}

a:hover {
  color: #9CC5A1;
}

/*tabs*/
.tabs li {
  float: left;
  position: relative;
}

.tabs a {
  float: left;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  background: #3D8D8E;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.tabs .active {
  z-index: 3;
}
.tabs .active a {
  background: #9CC5A1;
  color: black;
}
.tabs li:before, .tabs li:after,
.tabs li a:before, .tabs li a:after {
  position: absolute;
  bottom: 0;
}
.tabs li:last-child:after,   .tabs li:last-child a:after,
.tabs li:first-child:before, .tabs li:first-child a:before,
.tabs .active:after,   .tabs .active:before,
.tabs .active a:after, .tabs .active a:before {
  content: "";
}
.tabs .active:before, .tabs .active:after {
  background: #9CC5A1;
  z-index: 1;
}
/* Squares */
.tabs li:before, .tabs li:after {
  background: #3D8D8E;
  width: 10px;
  height: 10px;
}
.tabs li:before {
  left: -10px;
}
.tabs li:after {
  right: -10px;
}
/* Circles */
.tabs li a:after, .tabs li a:before {
  width: 20px;
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  background: #EDEFEE;

  /* Circles over squares */
  z-index: 2;
}
.tabs .active a:after, .tabs .active a:before {
  background: #3D8D8E;
}
/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
  background: #EDEFEE;
}
.tabs li a:before {
  left: -20px;
}
.tabs li a:after {
  right: -20px;
}
/*tabs end*/

#open-tab {
  background-color: #9CC5A1;
  display: block;
  margin-top: 60px;
  padding: 10px;
  border-radius: 15px;
}

#homelink, #joinlink, #forumlink, #matchlink {
  cursor: pointer;
}
